<!doctype html>
<html ng-app="studentRoster">
  <head>
    <title>Student App</title>
    <script src="lib/angular.js"></script>
    <script src="app.js"></script>
    <script src="services/StudentsFactory.js"></script>
    <script src="controllers/StudentsController.js"></script>
    <script src="controllers/FieldTripsController.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <div ng-controller="StudentsCtrl">

        <div class="row" ng-show="students.length">
          <div class="col-md-12">
            <h4>Search Students</h4>
            <form class="form-inline" role="form">
              <div class="form-group">
                <input ng-model="query" type="text" class="form-control" placeholder="Search">
                <!--  ng-model sets a new property called 'query', query is automatically updated as user types, 2-way binding -->
              </div>

            </form>
          </div>
        </div>


        <div class="row">
          <div class="col-md-12">
            <h2 ng-show="students.length && filtered.length">Student List</h2>
            <!-- show if students.length and filtered.length > 0(not falsy)  -->
            <h2 ng-show="students.length && !filtered.length">No Matches</h2>
            <!--  show if filtered.length is 0, or falsy -->
            <ul>
              <li ng-repeat="item in filtered = (students | filter:query)">
                <!-- sets a new variable 'filtered' -->
                <!-- 'students | filter:query' shows students OR filter:query
                if a query has been made -->

                <!--  click to edit, below -->
                <span ng-click="editing = true" ng-hide="editing">
                  <!-- hides when editing is true -->
                  {{item.name}} <a ng-click="StudentsFactory.deleteStudent(item)">Delete</a>
                </span>

                <!-- form to edit -->
                <span class="form-group" ng-show="editing" ng-submit="editing = false">
                  <!-- shows when editing is true -->
                  <!-- when submitted, editing is set to false -->
                  <form class="form-inline" role="form">
                    <input type="text" class="form-control input-sm" ng-model="item.name" placeholder="Name" required>
                    <!-- ng-model="item.name" updates item.name -->
                    <button class="btn btn-default btn-sm" type="submit">Save</button>
                  </form>
                </span>
              </li>
            </ul>
          </div>
        </div>

          <div class="col-md-4">
            <h2>New Student</h2>
            <form ng-submit="StudentsFactory.addStudent()" class="form-inline" role="form">
              <div class="form-group">
                <input type="text" ng-model="StudentsFactory.studentName" class="form-control" id="student-name" placeholder="Enter name">
              </div>
              <button type="submit" class="btn btn-default">Submit</button>
            </form>

          </div>
        </div>

        <div class="row" ng-controller="FieldTripsCtrl">

          <div class="col-md-6" ng-show="studentsWithoutPermission.length">


            <!-- shows only if studentsWithoutPermission is not falsy -->
            <h3>Without Permission Slips</h3>
            <ul>
              <li ng-repeat="item in studentsWithoutPermission = (students | filter:{permissionSlip: false})">
                {{item.name}} <a ng-click="addStudentWithPermissionSlip(item)"> - received permissionSlip</a>
              </li>
            </ul>

          </div>

          <div class="col-md-6" ng-show="studentsWithPermission.length">
            <!-- shows only if studentsWithPermission is not falsy -->

            <h2>Permission Slips</h2>
            <ul>
              <li ng-repeat="item in studentsWithPermission = (students | filter:{permissionSlip: true})">
                {{item.name}}
              </li>
            </ul>
          </div>
        </div>

        </div>
    </div>
  </body>
</html>
